.App {
  text-align: center; 
  max-width: 100%;
  margin: 30px 60px;
  padding: 15px;
  background-color: #b9d79d;
  border-radius: 15px;
  }
  .App-header {
  
    margin: 30px 0;
    color: black
  }
  
.App-logo{
 display: block;
 max-width: 200px;
 margin: 0 auto;
}





