.App {
  margin: 10px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .container{
  max-width: 100%;
 
  padding: 15px;
  background-color: #b8d4f9;
  border-radius: 15px;


  }
  .App-header {
  
    margin: 30px 0;
    color: black
  }
  
.App-logo{
 display: block;
 max-width: 200px;
 margin: 0 auto;
}

footer{
  margin: 0 auto;
  padding: 5px 12px;
}


