
.Dictionary{
     display: block;
     margin: 0 auto;

    
}
.SearchForm{
    line-height: 45px;
 
    margin-bottom: 10px;
 
}

.SearchInput{
    border-radius: 5px;

    line-height: 35px;
    margin: 5px 0;

}
.Dictionary section{
    margin: 12px 0;
    padding: 15px 45px 5px;
    border-radius: 10px;
    background-color: var(--section-background-color-test);
}