:root{
  --background-color:#F4FFE8;
  --section-background-color:  #E5FFEC;
  --font-color: black;
  --box-shadow: 0 5px 10px rgba(0,0,0,.7);
  --box-shadow-light: 0 5px 10px #23515b;
  --text-shadow: 1px 1px 2px #2a2020;
  
  }

body {
  margin: 10px 35px ;
  padding: 5px 25px;
  max-width: 100%;
  background-color: #F4FFE8;
  font-family: sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
