:root{
  --background-color:#ebf9ca;
  --section-background-color: #bff9cc;
  --section-background-color-test:  #d9fad6;
  --font-color: black;
  --bs-border-color: rgba(114, 177, 216, 0.4 );
  --box-shadow:  10px 5px 5px  #38c02c;
  --box-shadow-light: 0 5px 10px #6d806b;
  --text-shadow: 1px 1px 2px #2a2020;
  
  
  }

body {
  margin: 0 auto;
  padding: 5px 25px;
  max-width: 960px;
  background-color: #F4FFE8;
  font-family: sans-serif;
  display: flex;
  justify-content: center;

}
section{
  background-color: var(--section-background-color);
  box-shadow: var( --box-shadow-light);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
