
 .phonetics{
    font-size: 15px;
  
    color:   #CC33CC;
    margin: 5px 1px;
    padding: 5px;
    line-height: 200%;
    display: inline;
}
.SearchResults h2{
color:  #CC33CC;
text-shadow: 3px 1px 3px #123726;
margin: 0 auto;
padding: 15px 15px 15px;
display: inline;
}   

